@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  font-family: 'Raleway', sans-serif;

}

footer {
  background-color: #6dcca3;
  min-height: 157px;
}

.footer-text a {
  color: white;
  cursor: pointer;
}

main {
  margin-top: -30px;
  margin-bottom: 0;
}

header{
  width: 100%;
  max-height: 200px;
  min-height: 150px;
}

.main-content{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
img {
  max-height: 420px;
  max-width: 420px;
}

.column1, .column2 {
  max-width: 35%;
  margin-left: 50px;
}


.main-home{
  background-image: url("medimize-homepage-photo.jpg");
  background-position: center;
  background-size: cover;
  min-width: 400px;
  min-height: 800px;
}

.logo img{
  max-height: 100px;
  float: left;
  clear: right;
}

nav {
  float: right;
}

footer{
  display: flex;
  justify-content: space-between;
}

.right-footer, .left-footer {
  margin-top: 20px;
}

.right-footer a span {
  display: block;
  margin-right: 50px;
}

.left-footer {
  margin-left: 50px;
}

.overlay{
  display: flex;
  justify-content: space-between;
  margin: 20 50;
  color: white;
  max-height: 400px;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  /*position: relative;
  top: 300px;*/
}

.hero{
  color: white;
  text-align: left;
  margin-top: 0;
  min-height: 135px;
  width: 100%;

}

.hero-about{
  background-color: #3d9be9;
}

.about-title{
  color: #3d9be9;
}

.hero-payers{
  background-color: #3d9be9;
}

.title-payers{
  color: #3d9be9;
}

.hero-patients{
  background-color: #71cba3;
}

.title-patients{
  color: #71cba3;
}

.hero-solutions{
  background-color: #cccccc;
}

.hero-affiliations {
  background-color: black;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.hero h1{
  margin-left: 15px;
  padding-top: 40px;
}

.box{
  background-color: #3d9be9;
  max-width: 300px;
  /*position: absolute;*/
  position: relative;
  top: 122px;
  height: 218px;
  margin-left: 30px;
}


nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav-item{
  /*float: right;*/
  display: inline-block;
  margin-top: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-item:hover {
  background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mini-logo{
  height: 54px;
  width: 48px;
  margin-top: 10px;
}

.mini-logo-holder{
  height: 77px;
  width: 77px;
  position: absolute;
  top: -15px;
  right: -15px;
  text-align: center;
  border-radius: 50%;
}

.logo-cross{
  background-color: #ed1566;
}

.logo-steth{
  background-color: #0db26b;
}

.logo-person{
  background-color: #ffb81f;
}

.steth{
  color: white;
}



/*Desktop First Media Queries*/

/* Extra Wide Desktops*/
@media all and (min-width: 1200px) {

}

/* Tablets and small desktop */
@media all and (min-width: 768px) and (max-width: 979px) {

}

/* Phone in landscape mode, small tablet */
@media all and (max-width: 767px) {

}

/* Smaller Phone, phone in portrait mode */
@media all and (max-width: 480px) {

}
